/extrafiles/xmlwriter/nbproject/private/
/extrafiles/xmlwriter/build/
/extrafiles/xmlwriter/dist/
/extrafiles/xml-creator/nbproject/private/
/extrafiles/xml-creator/build/
/extrafiles/xmlcreate/nbproject/private/
/extrafiles/xmlcreate/build/