body {
    margin: 5%;
    margin-right: 10%;
    margin-top: 2%;        
    background-color: midnightblue;
    font-family: sans-serif; color: midnightblue; font-size: 24px;
}

h1 {
    text-align: center;
}

h2  {
    text-align: center;
    font-style: italic; 
    font-size: 24px;
}


div.Menu{
    background-color: black; /* For Browsers that don't support any of the below */
    background: -webkit-linear-gradient(left, black , gainsboro); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(right, black, gainsboro); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(right, black, gainsboro); /* For Firefox 3.6 to 15 */
    background: linear-gradient(to right, black , gainsboro); /* Standard syntax */
    font-family: sans-serif; color:black; font-size: 24px;
    height: auto; /* Full height */
    border-style: double;
}

div.Header{
    background-color: #ff0;
    font-family: sans-serif; color: midnightblue;
    border-style: outset;
    height: auto;
}

div.Footer{
    background-color: #999;
    font-family: sans-serif; color: #fff; font-size: 12px;
    border-style: inset;
    height: auto;
}

ul.menuBar {
    list-style-type: none;
    display: block;
    position: absolute; top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

ul.pictureDisplay {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li.pictureDisplay {
    display: inline;
    text-align: center;
}

.displayInline {
    display: inline;
    text-align: center;
}

table {
    width: 100%;
}

td  {
    width: 5%;  
    text-align: center;
}
